.whatsapp_call_cont {
    width: 5vw;
    height: 8vw;
    position: fixed;
    bottom: 2%;
    right: 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    z-index: 99;
}

.whatsapp_call_cont {

    .call_circle,
    .call_circle1 {
        width: 3.5vw;
        height: 3.5vw;
        font-size: 2vw;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        background-color: #0065CB;
        transition: all .3s;
        position: relative;
    }

    .call_circle::before {
        content: "";
        position: absolute;
        z-index: -1;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        display: block;
        width: 60px;
        height: 60px;
        background-color: #0065CB;
        border-radius: 50%;
        -webkit-animation: pulse-border 1500ms ease-out infinite;
        animation: pulse-border 1500ms ease-out infinite;
    }

    .call_circle1::before {
        content: "";
        position: absolute;
        z-index: -1;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        display: block;
        width: 60px;
        height: 60px;
        background-color: #1ba650;
        border-radius: 50%;
        -webkit-animation: pulse-border 1500ms ease-out infinite;
        animation: pulse-border 1500ms ease-out infinite;
    }

    .call_circle1 {
        background-color: #1ba650;
    }

    .call_circle:hover,
    .call_circle1:hover {
        background-color: var(--yellow);
    }
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translatex(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}


.main a {
    text-decoration: none !important;

}

nav {
    position: fixed;
    top: 0;
    z-index: 999999;
    width: 100%;
    background: linear-gradient(to right, #ffffff, #fffde5);
    height: auto;
    border-bottom: 1px solid #c0c0c0;
}

.navbar {
    flex-wrap: nowrap !important;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    padding: 0 2vw;
    justify-content: space-between;
}

.logo {
    width: 20%;
    height: 90%;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
    }
}

.all_items {
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 100%;
    align-items: center;
}

.items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3vw;
    width: auto;

}

.items a {
    font-size: 1.3vw;
    position: relative;
    font-weight: 500;
    color: black;
    padding-bottom: 5px;
}

/* animation part a */
.items a,
.items a:after,
.items a:before {
    transition: all .3s;
}

.items a:hover {
    color: #fdc239;
}

.items a:after,
.items a:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 0;
    margin: auto;
    transform: translate(-50%, -50%);
    width: 0%;
    content: '.';
    color: transparent;
    background: #fdc239;
    height: 2px;
}

.items a:hover:after {
    width: 100%;
}

.items a:after {
    text-align: left;
    content: '.';
    margin: 0;
    opacity: 0;
}

.items a:hover {
    color: #fdc239;
    z-index: 1;
}

.items a:hover:after {
    z-index: -10;
    animation: fill 1s forwards;
    opacity: 1;
}

/* end of animation */
.icon_wp {
    padding: .5vw 1.5vw;
    background-color: #1ba650;
    font-size: 1.3vw;
    border-radius: 40px 0 40px 0;
    color: #ffff;
    transition: all .3s;
    font-weight: 500;
    white-space: nowrap;
    border-bottom: 4px solid #fdc239;

    i {
        margin-right: 10px;
        font-weight: 500;
    }
}

.icon_wp:hover {
    background-color: var(--yellow);
    color: #ffff;
    border-bottom: 4px solid #1ba650;
}

.toggle_switch {
    display: none;
}

